$card-height= rem(250);
$card-height--small= rem(200);

.card__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.card__item {
  flex: 1 1 auto;
  padding-bottom: rem(40);

  +max-screen($media-medium) {
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  +min-screen($media-large) {
    flex: 0 1 50%;

    &:nth-of-type(odd) {
      padding-right: rem(20);
    }

    &:nth-of-type(even) {
      padding-left: rem(20);
    }

  }

}

.card__link {
    display: flex;
    flex-wrap: wrap;
    background: $off-white;
    text-decoration: none;
    cursor: pointer;
    cursor: url(./Assets/Images/pointer.png) 2 2, pointer;
    box-shadow: 2px 2px 4px rgba($black, .1);
    transition: transform 200ms ease-out,
                box-shadow 200ms ease-out;

    &:hover {
      transform: scale(1.01);
      box-shadow: 2px 2px 6px rgba($black, .1);
    }

    &:focus {
      outline: 1px solid $primary;
    }

}

.card__row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
}

.card__column {
    position: relative;
    flex: 1 1 100%;
    height: $card-height--small;
    overflow: hidden;

    &:last-of-type {
      border: 1px solid;
      border-top-color: tint($tertiary, 80%);
      border-right-color: tint($tertiary, 30%);
      border-bottom-color: tint($tertiary, 40%);
      border-left-color: tint($tertiary, 50%);
      }
}

.card__image {
    width: 100%;
    min-height: 100%;
}

.card__title {
  displayFontBold();
  display: block;
  padding: rem(10);
  font-size: rem(24);
  color: $primary;
}

.card__description-wrapper {
  padding: rem(10);
}

.card__description {
  lineClamp(3);
  bodyFont();
  font-size: rem(16);
}

.card__length {
  bodyFont();
  position: absolute;
  right: rem(10);
  bottom: rem(10);
  font-size: rem(16);
  color: $primary;
}
