html {
  font-size: $rem-base;
}

body {
  cursor: default;
  cursor: url(./Assets/Images/cursor.png) 2 2, default;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.app {
  height: 100vh;
}

.page {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.hr {
  width: rem(60);
  height: 2px;
  background: $tertiary;
  margin-top: rem(60);
  margin-bottom: rem(20);
}
