.contact-card {
  margin: rem(60) auto;
  max-width: rem(700);
  box-shadow: 2px 2px 4px rgba($black, .2);
  border: 1px solid shade($white, 3%);
  padding: rem(20);
  background: $off-white;

  .h3 {
    font-size: rem(24);
    margin-bottom: rem(60);
  }

  .contact-card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .contact-card__item {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      margin-bottom: rem(60);

      +min-screen($media-medium) {
        flex: 1 1 auto;
      }
    }
  }

}
