.footer {
  background: $primary-dark;
  padding: rem(20);

  +min-screen($media-small) {
    padding: rem(20 40);
  }

  +min-screen($media-medium) {
    padding: rem(20 60);
  }

  .a {
    bodyFont($white);
    font-size: rem(12);

    &:hover,
    &:focus {
      outline: 1px solid $white;
    }
  }
}
