$headerHeight= rem(80);

header {
  position: relative;
  width: 0;
  
  +min-screen($media-small) {
    background: $primary-dark;
    width: $headerHeight;
    height: 100vh;
    padding: rem(20 10);
  }
  
  .h1 {
    display: none;
    position: absolute;
    right: 0;
    bottom: rem(20);
    left: 0;
    transform: rotate(-90deg);
    displayFontBold();
    font-size: 28px;
    line-height: $headerHeight;
    white-space nowrap;
    color: $primary;
    
    +min-screen($media-small) {
      display: block;
    }
  }
}
