$headerHeight= rem(80);

header {
  position: relative;
  height: 100vh;
  width: 0;
  overflow: hidden;
  
  +min-screen($media-small) {
    background: shade($primary, 50%);
    width: $headerHeight;
    padding: rem(20 10);
  }
  
  h1 {
    position: absolute;
    right: 0;
    bottom: rem(20);
    left: 0;
    transform: rotate(-90deg);
    displayFont();
    font-size: 20px;
    letter-spacing: 1px;
    line-height: $headerHeight;
    white-space nowrap;
    color: $white;
  }
}
