.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: rem(20);
  background: shade($primary, 50%);

  +min-screen($media-small) {
    padding: rem(60);
  }
  
  h2 {
    max-width: rem(259);
    
    +min-screen($media-small) {
      max-width: rem(502);
    }
  }
}
