.l {
  display: flex;
  overflow: hidden;

  .l--leftColumn {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .l--rightColumn {
    flex: 0 0 auto;
  }
}
