nav {

  a {
    text-decoration: none;
    display: block;
    padding: rem(10);
    color: white;
  }
  
  li:not(:last-of-type) a {
    margin-bottom: rem(10);
  }

  .active {
    background: shade($primary, 100%);
  }
}
