.client__list {
  width: 100%;
  margin-bottom: rem(60);

  .client__item {
    position: relative;
    display: inline-block;
    background: $primary;
    margin-bottom: rem(10);
    padding: rem(10 30);
    bodyFontBold($white);
    
    &:not(:last-of-type) {
      margin-right: rem(10);
    }

    &.client__item--hasLink {
      padding: 0;
    }
  }
  
  .client__link {
    display: block;
    padding: rem(10 30);
    bodyFontBold($white);
  }

}
